@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>1° de Mayo 922</p>
    <p>Rafaela, Santa fe, 2300<br /></p>
    <abbr title="Telefono">Cel:</abbr>
    03492-15573394
</address>

<address>
    <strong>Ventas:</strong>   <a href="mailto:nora_ghelfi@hotmail.com">nora_ghelfi@hotmail.com</a><br />
</address>