@{
    ViewBag.Title = "Home Page";
}
<header class="img-portfolio">
    <img src="~/img/banner.jpg" width="100%" height="100%"/>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-asterisk"></i> Pañales</h4>
                </div>
                <div class="panel-body">
                    <p>Contamos con una amplia variedad de marcas y talles en pañales para niños. Disponemos también de pañales para el Agua.</p>
                    <p>Consulta también por las líneas de pañales para adultos.</p>
                    <!--<a href="#" class="btn btn-default">Learn More</a>-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Ropa &amp; Accesorios</h4>
                </div>
                <div class="panel-body">
                    <p>Tenemos la ropa mas línda y al mejor precio. Contamos con la linea de bodys Gamisé, y una gran variedad en ropa para niños hasta los 3 años.</p>
                    <p>Pasa a conocer también nuestas linea de juguetes y peluches.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-hand-right"></i> Perfumería </h4>
                </div>
                <div class="panel-body">
                    <p>Encontra en U'palala, variedad en Shampoo's, javones y articulos de prefumeria de las mejores marcas. </p>
                    <p>Tenemos también para vos, hermosos sets de regalo personalizados, no te los pierdas!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contamos con productos de las siguientes marcas</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="~/img/estrella.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="~/img/Pampers_logo_white_350x350.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="~/img/huggies-nappies-logo.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="~/img/BABYSEC copia.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="~/img/johnsons_baby_logo.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="~/img/philips_avent copia.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Lo mejor para tu bebé</h2>
        </div>
        <div class="col-md-6">
            <p>En Pañalera U'palala podes encontrar:</p>
            <ul>
                <li>
                    <strong>Pañales todas las marcas</strong>
                </li>
                <li>Ropa de 0 a 3 años</li>
                <li>Linea chupetes y mamaderas Avent</li>
                <li>Juguetes</li>
                <li>Linea de pañales Estrella</li>
                <li>Perfumeria linea Jhonson y Upalala</li>
            </ul>
            <p>Tenemos los mejores productos para tu bebé...</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/img/frente.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Podes visitar nuesto Facebook, para enterarte de todas las novedades y consultar por nuestro productos. <i class="glyphicon glyphicon-hand-right"> </i> <a href="https://www.facebook.com/upalalarafaela/"><i class="fa fa-facebook-square"></i></a></p>
            </div>
        </div>
    </div>
    <hr>
</div>
